Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

*.VC.db
*.VC.opendb
*.sln
*.opensdf
*.sdf

FileOpenOrder/

# Unreal World Partition
Content/__ExternalActors__/
Content/__ExternalObjects__/

# Optional
DerivedDataCache/